@import "~src/global-styles/FormStyles.scss";

.loginPage {
  width: 100%;
}

@media (min-width: 768px) {
  .formPage {
    width: 345px;
    margin: 60px auto;
  }
}

.pageContents {
  padding: 30px 25px 40px;
}
